@import url('https://fonts.googleapis.com/css?family=Teko:700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    overflow: hidden;
}

img {
    height: auto;
    width: auto;
}
/* .content {
    background-image: url('');
} */

body {
    color: #c02b23;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
  }
  div {
    position: relative;
  }
  body  img {
    width:  auto;
    height: 100vh;
    object-fit: fill;
    grid-column: 1;
    grid-row: 1;
    opacity: .7;
    z-index: 0;
  }
  body  h1 {
    color:  #f6a833;
    position: absolute;
    top: 50px;
    left: 200px;
    margin: 0 auto;
    padding-bottom: 6rem;
    grid-column: 1;
    grid-row: 1;
    z-index: 10;
    font-family: 'Teko', sans-serif;
    font-size: 10rem;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
  }

  .fondo {
    background-color: rgba(70, 24, 4, 0.963);
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 20px #f6a833;
    }
    to {
      text-shadow: 0 0 30px #f6a833, 0 0 10px #f6a833;
    }
  }
