body {
    background-image: linear-gradient(
        to bottom,
        rgba(48, 42, 42, 0.5),
        rgba(84, 38, 30, 0.5)
      ), url('/img/carretera-gif.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
