* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tramo-content {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
}

.imagen-container img:hover {
    cursor: pointer;
}

.popup-imagen {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-imagen span {
    position: absolute;
    top: 100px;
    right: 20px;
    font-size: 60px;
    font-weight: bolder;
    color:#fff;
    cursor: pointer;
    z-index: 100;
}

.modal-imagen img {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 700px;
    object-fit: cover;
    z-index: 110;
    display: none;
}

@media (max-width: 768px) {
    .popup-imagen img {
        width: 95%;
    }
}
