* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

figure {
    width: 100%;

}
.figure {
    display: block;
    margin: 0 auto;
    max-width: 900px;
}


.file  {
    display: block;
    border-radius: 6px;
    cursor: pointer;
    padding: 4px;
}

.file label i {
    margin-right: 5px;
}

.imagen {
   /*  width: 100px; */
    display: none;
}
.imagen img {
    width: 100%;
}

.ocultar {
    display: none;
    align-items: center;
}


#vista_previa {
    color: rgb(110, 108, 109);
    height: 64px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 236, 235);
    border:1px solid rgb(156, 157, 158) ;
    border-radius: 5px;
    font-weight: bolder;
    overflow: hidden;
    margin-left: 7px;
}

#vista_previa img {
    height: 64px;
    padding-right: 0;

}

#vista_previa p {
   /*  line-height: 64px; */
    color: rgb(110, 108, 109);
    margin-top: 10px;
    font-weight: bolder;
}

.col-lg-9 {
    padding-left: 0;
    margin-left: auto;
}

button #btn-guardar {
    line-height: 16px;
    font-size: 15px;
    height:35px;
    background-color:#48c71d;
}
button #btn-guardar:hover {
    background-color:#070707;
}

/* .btn-toolbar {
    margin-top: ;
}
 */
